/*Header*/

.header
    height: 30vh
    position: relative
    overflow: hidden
    background-color: rgba(0,0,0,0.5)
    background-size: cover
    background-position-y: center
    background-image: url('../img/banner-bg.jpg')
    +screen('tablet')
        height: 30vh
    +screen('mobile')
        height: 30vh

.header-bar
    margin-top: 9vh

.header h1
    color: $white
    font-family: $lato

.logo
    width: 30%